html {
    height: 100%;
}

body {
    background: linear-gradient(135deg, #8ff0a4 0%, #99c1f1 100%) no-repeat center center fixed;
    background-size: cover;
    padding-bottom: 50px;
}

div {
    margin-bottom: 50px;
}

h1 {
    font-size: 30px;
    display: flex;
    justify-content: center;
}

h2 {
    margin-left: 20px;
}